html, 
body {
    height:100%;
    width: 100%;
    margin: 0;
}

/*---------------------------------------------------------------------Back to top button*/
#scrollTopButton {
  display: inline-block;
  background-color: #bd8c7d;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 80px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#scrollTopButton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #f6f5f3;
}
#scrollTopButton:hover {
  cursor: pointer;
  background-color: #d1bfa7;
}
#scrollTopButton:active {
  background-color: #d1bfa7;
}
#scrollTopButton.show {
  opacity: 1;
  visibility: visible;
}

/*--------------------------------------------Colour*/

.bg-color-name-title {
	background-color: #fafafa;
}
.beige {
    color: #d1bfa7;
}
.rosa {
    color: #bd8c7d;
}
.header {
	background-color: #fafafa;
}
.book {
	background-color: #8e8e90;
}
.socialIconsFooter {
	background-color: #49494b;
}
/*---------------------------------------------------------------------Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@200&display=swap');

/*--------------------------------------------Header*/

link {
  display: none;
}

header {
	margin: 0;
}
.logo {
	background: url("../images/logo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25%;
	margin: 0;
	padding: 0;
	width: 27px;
	min-height: 65px;
	background-color: #fafafa;
}
.title {
	font-family: 'Montserrat', sans-serif;
	color: #49494B;
	margin: auto;
	height: auto;
	text-align: center;
	width: auto;
	padding-top: 15px;
	font-size: 15px;
}
.nav-item {
	font-family: 'Lora', sans-serif;
	font-size: 15px;
	padding: 0px;
	margin-top: 10px;
	color: #49494B;
	background-color: #fafafa;
}
.navbar-nav {
	margin: auto;
}
.socialIconsHeader {
	height: 25px;
	padding-right: 20px;
}
.socialIconsHeader i {
	text-align: center;
	width: 30px;
	font-size: 20px;
	color: #49494B;
}
.socialIconsHeader i:hover {
	color: #bd8c7d;
}
/*---------------------------------------------------------------------------Links*/

a {
  color: #bd8c7d;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #49494B;
}

/*---------------------------------------------------------------------------StartPage*/

.carouselExampleIndicators {
    padding-top: 0px;
}

/* Carousel*/
    .carousel,
    .carousel-item,
    .carousel-item.active {
      height: 100%;
    }
    .carousel-inner {
      height: 100%;
    }
.carousel-item:nth-child(1) {
      background-image: url("../images/title-image.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(2) {
      background-image: url("../images/waitingarea.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(3) {
      background-image: url("../images/roomone.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel_height {
        height: 550px;
    }

.introduction {
	margin: 30px auto;
	font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 20px;
}
.startImageHolder {
	height: auto;
	padding: 80px;
	display: flex;
	justify-content: space-between;
}
.startimage {
	height: 250px;
	width: 70%;
	margin: auto;
	margin-bottom: 40px;
}
.contactPicture {
	background-image: url("../images/gruppbild.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: top;
	text-align: center;
	height: 100%;
	width: 100%;
}
.prislistaPicture {
	background-image: url("../images/bild.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: top;
	text-align: center;
	height: 100%;
	width: 100%;
}
.caption {
	display: block;
	font-family: "Montserrat", sans-serif;
	color: #49494B;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	height: auto;
}

.bookButton {
		font-size: 15px;
        padding: 20px !important;
        font-weight: bold;
		background-color: #bd8c7d;
		color: #fafafa;
	}
	.bookButton:hover {
		background-color: #D1BFA7;
		color: #49494b;
	}
.hrStart {
	width: 70%;
	display: flex;
	justify-content: center;
	margin: 5%;
}
/*--------------------------------------------------------------------------TreatmentsPage*/

#treatment {
	width: auto;
	color: #fafafa;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
#treatment h1 {
	font-family: "lora", sans-serif;
	color: #49494b;
	font-weight: bold;
}
.wrapper-img {
	width: 100%;
	padding-top: 100%;
	z-index: 1;
}
	/*--------------------------------------------Feet Rosa Part*/
	.foot {
		background-color: #49494b;
		width: 100%;
		height: auto;
		text-align: center;
        color: #fafafa;
        
	}
	.nails {
		height: inherit;
		width: 100px;
		background-color: #49494b;
	}
	.nailsImage {
		background-image: url("../images/lucas-sankey-orFHTN5BBtM-unsplash.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		background-color: #49494b;
		background-position: center;
	}
	/*--------------------------------------------Coloring Sand Part*/
	.coloringHolder {
		display: flex;
		flex-direction: row-reverse;
		padding-top: 60px;
	}
	.coloring {
		background-color: #D1BFA7;
		width: 100%;
		text-align: center;
		color: #49494b;
	}
	.coloringFlower {
		height: inherit;
		background-color: #D1BFA7;
		width: 100px;
	}
	.coloringFlowerImage {
		background-image: url("../images/mormor.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		background-color: #49494b;
		background-position: center;
	}
	/*--------------------------------------------Facial Grey Part*/
	.facialHolder {
		padding-top: 60px;
	}
	.facial {
		background-color: #908C8C;
		width: 100%;
		text-align: center;
		color: #fafafa;
	}
	.facialAmazon {
		height: inherit;
		background-color: #908C8C;
		width: 100px;
	}
	.facialAmazonImage {
		background-image: url("../images/andres-herrera-o-76B2bskcc-unsplash.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		background-color: #fafafa;
		background-position: center;
	}
	.hrfacial {
		width: 80%;
		padding-top: 5px;
		color: #fafafa;
		display: flex;
		justify-content: center;
	}
	.hrcoloring {
		width: 30%;
		padding-top: 5px;
		color: #fafafa;
		display: flex;
		justify-content: center;
	}
	.hrTreatments {
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 100px;
    }
    /*---------------------------------------------------------------------Produkter*/

    .backgroundprodukter {
        background-image: url("../images/micheile-henderson-bl4_Kv5Q5JQ-unsplash.jpg");
        min-height: 600px;
        background-size: cover;
        background-position: center;
    }
    .produkter {
    margin: 30px auto;
	font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 14px;
    }
	/*---------------------------------------------------------------------AboutUsPage*/
	/*--------------------------------------------PictureRow*/
	.portraitPictureHolder {
		height: 100%;
		padding: 80px;
		background-color: #49494b;
		display: flex;
		justify-content: space-between;
	}
	.portraitPicture {
		height: 300px;
		width: 90%;
	}
	.portraitPictureOne {
		background-repeat: no-repeat;
		background-position: left;
		vertical-align: top;
		text-align: center;
		width: 100%;
		border-radius: 8px;
		background-image: url("../images/mia_profilbild.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		height: inherit;
		background-color: #908C8C;
	}
	.portraitPictureTwo {
		background-repeat: no-repeat;
		background-position: center;
		vertical-align: top;
		text-align: center;
		width: 100%;
		border-radius: 8px;
		background-image: url("../images/karin_profilbild.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		height: inherit;
		background-color: #908C8C;
	}
	.portraitPictureThree {
		background-repeat: no-repeat;
		background-position: center;
		vertical-align: top;
		text-align: center;
		width: 100%;
		border-radius: 8px;
		background-image: url("../images/anette_profilbild.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		height: inherit;
		background-color: #908C8C;
	}
	/*--------------------------------------------CaptionRow*/
	.portraitCaption {
		font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #fafafa;
	}
	.portraitCaption h3 {
		font-family: 'Lora', sans-serif;
	}
	.hrPortrait {
		width: 80%;
		margin-top: 7%;
		display: flex;
		justify-content: center;
	}
	/*--------------------------------------------Map*/
	#map {
		width: 100%;
		height: 300px;
		margin: 100px 0 100px 0;
	}
	/*--------------------------------------------MediaPage
	#photo {
		height: 100%;
		width: 100%;
		margin: 20px;
	}
	#photo img {
		width: 100%;
		height: inherit;
	}
    .MediaWrapper {
        margin-top: 2%;
    }
	.youtube {
    	padding: 50px;
		height: 450px;
    }
	.youtubeiframe {
	    width: 100%;
	} */
	.hrMedia {
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10%;
	}
	/*--------------------------------------------Footer*/
	.footer-wrapper {
		overflow: hidden;
		font-family: "Lora", sans-serif;
		text-shadow: 1px 1px 1px #49494b;
		color: #fafafa;
		text-align: center;
        font-size: 15px;
        position: static;
        height: 150px;
        width: 100%;
    }

	.contact {
		background-color: #bd8c7d;
		border: 10px;
        border-color: #fafafa;
        margin-bottom: none !important;
    }
    .openingtimes {
        background-color: #d1bfa7;
    }
	.book {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bookButtonFooter {
		font-size: 15px;
        padding: 20px !important;
        font-weight: bold;
		background-color: #49494b;
		color: #fafafa;
	}
	.bookButtonFooter:hover {
		background-color: #D1BFA7;
		color: #49494b;
	}
	.socialIconsFooter {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.socialIconsFooter i {
		text-align: center;
		text-shadow: 1px 1px 1px #49494b;
		color: #fafafa;
		width: 50px;
		font-size: 35px;
	}
	.socialIconsFooter i:hover {
		color: #bd8c7d;
    }