/*--------------------------------------------Colour*/

/*---Rose Gold: #bd8c7d
Soft Gold: #d1bfa7
Silver: #8e8e90
Onyx: #49494b
*/

.bg-color-name-title {
    background-color: #fafafa;
}
.header {
    background-color: #fafafa;

}
.kontakt {
    background-color: #bd8c7d;
}
.oppettider {
    background-color: #d1bfa7;
}
.bokatid {
    background-color: #8e8e90;
}
.socialIconsFooter {
    background-color: #49494b;
}

/*-----------Montserrat----Lora---------------------------------Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@200&display=swap');

/*--------------------------------------------Header*/
header {
    margin: 0;
}
.logo {
    background: url("../images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    margin: 0;
    padding: 0;
    width: 27px;
    min-height: 65px;
    transition-delay: all .5s ease-in-out;
    -moz- transition-delay: all .5s ease-in-out;
    -webkit- transition-delay: all .5s ease-in-out;
    background-color: #fafafa;
}
.title {
    font-family: 'Montserrat', sans-serif;
    color: #49494B;
    margin: auto;
    height: auto;
    text-align: center;
    width: auto;
    padding-top: 15px;
    font-size: 15px;
}
.nav-item {
    font-family:'Lora', sans-serif;
    font-size: 15px;
    padding: 0px;
    margin-top: 10px;
    color: #49494B;
    background-color: #fafafa;
}
.nav-item:first-child {
    margin-left: 540px;
}
.socialIconsHeader {
    height: 25x;
    padding-right: 20px;
}
.socialIconsHeader i {
  text-align: center;
  width: 30px;
  font-size: 20px;
  color: #bd8c7d;
}
.socialIconsHeader :hover {
  color: #49494B;
}
/*--------------------------------------------Start Part 1*/

.introduction {
    margin: 30px;
    font-family: "Montserrat", sans-serif;
}

/*--------------------------------------------Start Part 2*/
.startImageHolder{
    height: auto;
    padding: 80px;
}

.startimage {
    height: 250px;
    width: 70%;
    margin: auto;
}
.kontakt-picture{
    background-repeat: no-repeat;
    background-position: left;
    vertical-align: top;
    text-align: center;
    height: 100%;
    width: 100%;
}
.prislista-picture{
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    width: 100%;
}
.caption {
    display: block;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

/*--------------------------------------------TreatmentsPage*/
#behandlingar {
    width: 50%;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}
#behandlingar h1 {
    font-family: "lora", sans-serif;
    color: #49494b;
}
.foot {
    background-color: #BD8C7D;
    width: 100%;
}
.naglar {
    background-image: src="(../assets/images/naglar.jpg)";
}
.coloring {
    background-color: #D1BFA7;
    position: right;
    text-align: right;
}
.facial {
    background-color: #908C8C;
}
/*--------------------------------------------Carousel-Treatments*/

.carousel-inner {
    padding:100px 0 100px 0;
}


/*--------------------------------------------About us---map*/

#googleMap {
    width:100%;
    height:400px;
}

/*--------------------------------------------Footer*/
#tider {
    overflow: hidden;
    font-family: "Lora", sans-serif;
    position: absolute;
    color: #fafafa;
    text-align: center;
    font-size: 15px;
    width: 100%;
    }
#tider h6{
    font-size: 10px;
    }
.kontakt {
    padding: 20px 10px 10px 10px;
    border: 10px;
    border-color: #fafafa;
    height: 150px;
}
.oppettider {
    padding: 20px 10px 10px 10px;
    height: 150px;
}
.bokatid{
    position: center;
    color: #fafafa;
    text-align: center;
    padding: 40px 10px 10px 10px;
    height: 150px;
}
.bokatidButton {
    transition-duration: 0.4s;
    border-radius: 50px;
    font-size: 15px;
}
.bokatidButton:hover {
  background-color: #49494b;
  color: #fafafa;
}
.bokatid h6{
    padding-top: 10px;
}
.socialIconsFooter {
    padding: 35px 0 10px 0;
    height: 150px;
}
.socialIconsFooter i {
  text-align: center;
  color: #fafafa;
  width: 50px;
  font-size: 35px;
}
.socialIconsFooter:hover {
  background-color: #49494b;
  color: #fafafa;
}

